<div class="navbar-inner">
  <div class="container">
    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <!-- Be sure to leave the brand out there if you want it shown -->
    <a class="brand" href="#">myApp.com</a>
    <!-- Everything you want hidden at 940px or less, place within here -->
    <div class="nav-collapse collapse navbar-responsive-collapse">
      <!-- .nav, .navbar-search, .navbar-form, etc -->
      <ul class="nav" ng-show="isAuthenticated()">
        <li><a href="#/myaccount">{{lang.my_account}}</a></li>
        <li><a href="#/bettle/new">New Bettle</a></li>
      </ul>
      <ul class="nav pull-right">
        <li>
          <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              {{lang.language}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
             <li ng-click="setLocale('en')"> <img src="img/um.png"> {{lang.english}}</li>
             <li ng-click="setLocale('es')"><img src="img/es.png"> {{lang.espanol}}</li>
            </ul>
          </div>
        </li>
        <li ng-hide="isAuthenticated()">
          <a href="#/login" role="button">{{lang.login}}</a>
        </li>
        <li ng-hide="isAuthenticated()">
          <a href="#/signup" role="button">{{ lang.sign_up}}</a>
        </li>
        <li ng-show="isAuthenticated()">
          <button ng-click="logout()" class="btn btn-primary">{{lang.logout}}</button>
        </li>
      </ul>
    </div>
  </div>
</div>