<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3 id="signupModalLabel">{{lang.sign_up}}</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="email">{{lang.email}}</label>
      <div class="controls">
        <input ng-model="user.email" type="text" id="email" name="email" placeholder="{{lang.email}}" class="input-xlarge">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">{{lang.password}}</label>
      <div class="controls">
        <input ng-model="user.password" type="password" id="password" name="password" placeholder="{{lang.password}}" class="input-xlarge">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">{{lang.password_conf}}</label>
      <div class="controls">
        <input ng-model="user.password_confirmation" type="password" id="password_confirmation" name="password_confirmation" placeholder="{{lang.password_conf}}" class="input-xlarge">
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">{{lang.close}}</button>
  <button ng-click="signup()" class="btn btn-primary">{{lang.sign_up}}</button>
</div>