<div class="row-fluid">
	<div class="row-fluid">
		<div class="span12 text-center">
			<h3 >New Bettle</h3>
		</div>
	</div>
	<form name="form" novalidate class="form-vertical css-form">
		<div class="row-fluid">
			<div class="offset5 span6">
				<input placeholder="Search for a team here" ng-model="term" ui-autocomplete="autocompleteOptions"/>
			</div>
		</div>
		<div class="row-fluid text-center">
			<div class="offset3 span2"> {{ team_one }} </div>
			<div class="span2">vs.</div>
			<div class="span2"> {{ team_two }} </div>
		</div>
		<div class="row-fluid text-center">
			<div class="offset3 span2"> {{ fixture_league }} </div>
			<div class="span2"></div>
			<div class="span2"> {{ fixture_date }} </div>
		</div>
		<div class="row-fluid text-center">
			<div class="offset4 span2">
				<button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'cash'">I play for cash</button>
			</div>
			<div class="span2">
				<button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'honour'">I play for honour</button>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<datepicker ng-model="dt" show-weeks="showWeeks" starting-day="1" date-disabled="disabled(date, mode)" min="minDate" max="'2015-06-22'"></datepicker>
			</div>
			<div class="span6">
				<timepicker ng-model="mytime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
			</div>
		</div>
	</div>
</form>
</div>