<div class="row-fluid">
  <div class="offset4 span1">
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        Sort by
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="#" ng-click="setOrder('expiration_time'); reverse=false">Expiration time</a>
        </li>
        <li>
          <a href="#" ng-click="setOrder('win_taker'); reverse=true"> Potential Win</a>
        </li>
      </ul>
  </div>
</div>
<div class="span4">
  <input type="text" ng-model="searchText" placeholder="Search for a Team">
</div>
</div>
<div class="row-fluid">
  <div class="offset3 span6" ng-repeat="bettle in bettles | filter:searchText | orderBy:order:reverse ">
    <div>Date: {{bettle.game_date}}</div>
    <div>League: {{bettle.league}}</div>
    <div>{{bettle.team_one}}</div>
    <div>vs.</div>
    <div>{{bettle.team_two}}</div>
    <div> {{ bettle.expiration_datetime  }}</div>
    <div count-down> Countdown: {{bettle | countdown_init }} </div>
  </div>
</div>